<fieldset>
    <div class="form-group">
        <label for="DreamTitle">Dream Title</label>
        <input type="dreamtitle" class="form-control" id="dreamTitle" name="title" aria-describedby="dreamtitle" placeholder="Enter Dream Title" value='{{ dream.title }}'>
    </div>
    <div class="form-group">
            <label for="dreamtag">Select a tag</label>
            <select class="form-control" name="tag" id="dreamtag" value="{{ dream.tag }}">
              <option>funny</option>
              <option>creepy</option>
              <option>weird</option>
              <option>sad</option>
              <option>happy</option>
            </select>
          </div>
    <div class="form-group">
        <label for="DreamBody">What was your dream about?</label>
        <textarea class="form-control" id="dreambody" name="body" rows="10" value="{{ dream.body }}"></textarea> 
    </div>
</fieldset>