<!-- Navbar from playlistr tutorial -->
<nav class="navbar navbar-light" style="background-color: #02405dec;">
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>
                   <h1> DreamScapes </h1>
            </a>
        </div>
        <div class='pull-right'>
            <a href='/dreams/new' class="btn btn-primary"><h4>New Dream</h4></a>
        </div>
    </div>
</nav>


<!-- Given to me by Javier Mendoza, It doesnt work but it was a nice gesture -->

<!-- <nav class=“navbar navbar-light bg-light”>
        <a class=“navbar-brand” href=“/”>
          DreamScapes
        </a>
       </nav> -->