{% extends 'base.html' %}

{% block content %}
<h1>Dreams</h1>

<div class='row'>
    
</div>


{% for dream in dreams %}
<a href="/dreams/{{ dream._id }}" class="card-link">
  <div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">{{ dream.title }}</h2>
        <h3 class="card-subtitle mb-2 text-muted">Tag: {{ dream.tag }}</h3>
        <!-- <p class="card-text"> {{ dream.body }} </p> -->
        <a href="/dreams/<dream_id>" class="card-link">Card link</a>
        
    </div>
</div>
</a>
{% endfor %}

{% endblock %}






