{% include 'partials/navbar.html'%}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ dream.title }}</h1>
        <!-- {% if dream.created_at %}
        <p class='text-muted'>Created on {{ playlist.created_at.strftime('%A, %d %B, %Y') }}
                at {{ playlist.created_at.strftime('%I:%M %p') }}</p>
        {% endif %} -->
        <h3>Your tag: {{ dream.tag }}</h3>
        <h2>{{ dream.body }}</h2>
       
        <p><a href='/dreams/{{ dream._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/dreams/{{dream._id}}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
    
      </div>
    </div>