{% extends 'base.html' %}
{% block content %}
<a href='/' style="color:#dfa25d ">Back to Home</a>
<div class="container">
<div class='row'>
    <div class='container' >
        <h1>{{ dream.title }}</h1>
        {% if dream.created_at %}
        <p class='text-muted'>Created on {{ dream.created_at.strftime('%A, %B %d, %Y') }}
                <!-- at {{ dream.created_at.strftime('%I:%M %p') }} --></p>
        {% endif %}
        <h3>Your tag: {{ dream.tag }}</h3>
        <h2>{{ dream.body }}</h2>
       
        <p><a href='/dreams/{{ dream._id }}/edit'>Edit</a></p>
        
        <p>
          <form method='POST' action='/dreams/{{dream._id}}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
          </form>
        </p>
        
    </div>
</div>

<hr>  

<div class="row">
  <div class="container" >
    {% include 'partials/comment_form.html' %}
    <hr>
  </div> 
</div>

</div>
<hr>


<div class="row">
  <div class="container" style="padding:0%">
    <div class='card' style="background-color: rgba(0, 0, 0, 0); border-style:none; " >
    {% for comment in comments %}
      {% include 'partials/comment.html' %}
    {% endfor %}
    </div>
  </div>
</div>
 
  {% endblock %}